@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url(https://image.freepik.com/free-photo/dark-brick-wall-texture_1194-7260.jpg);
  
}

.container {
  max-width: 1700px;
  margin: 30px auto;
  overflow: auto;
  min-height: 800px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background-color: rgb(200, 199, 199);

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  display: inline !important;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.btn {
  display: table;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn2 {

  background: rgb(0, 2, 107);
  color: #fff;
  border: none;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn3 {

  background: #000;
  color: #fff;
  border: none;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn:focus {
  outline: none;
}

.content {
  text-align: left;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  white-space: pre-line;

}

.submit {
  font-size: 20px;
  padding: 5px 18px;
  border: 1.5px solid black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  
}

.hyperlink {
  font-size: 20px;
  padding: 5px 18px;
  background: white;
  color: rgb(18, 22, 246);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  
}